.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .plant-card {
    border: solid 1px #114E09;
    background-color: #CBF3C6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
  }
  
  .plant-card:hover {
    transform: scale(1.05);
  }
  
  /* .plant-card img {
    max-width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
  } */
  
  .plant-card h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    color: #3d3b33;
  }
  