.tomato-icon {
    height: 15%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;

}

#bloom-buddy-title {
    font-size: 5em;
    margin-top: -5px;
  }

  /* .brand {
    margin-bottom:
  } */